<div class="flex flex-row items-center justify-center h-8 mt-2 w-2xl m-auto bg-gray-200 rounded-xl p-3 outline-gray-300 outline-1">
  <input type="text" class="w-2xl h-8 focus:outline-none p-2.5">
  <app-icons [icon]="iconSearch"></app-icons>
</div>
<div class="flex flex-row items-center justify-end  h-8 mt-2 w-2xl m-auto">
  <button
    class="font-medium flex flex-row items-center justify-center gap-1 h-8 w-20 bg-gray-200 rounded-xl outline-gray-300 outline-1"><app-icons
      [icon]="filterIcon"></app-icons>
    Filter
  </button>
</div>
