.homepage_container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  outline: 3px solid rgba(70, 69, 69, 0.363) !important;
}


p {
  font-size: 20px;
  text-align: center;
  width: 50%;
}

.text-danger {
  font-size: 12px;
}



.inside_form {
  display: flex;
  flex-direction: row;
  gap: 4px;
}


.btn-success {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.spinner-border {
  color: black;
}

span {
  font-size: 20px;
  font-weight: 800;
  color: black;
}

app-icons {
  cursor: pointer;
}

@media (max-width:900px) {
  p {
    width: 90%;
  }

  form {
    width: 90%;
  }

  .inside_form {
    width: 100%;
  }
}
